<div>
    <div class="header-section">
        <h1>Energy Consumptions</div>
    </div>
    <!-- Container div -->
    <div id="energy-properties">
        <!-- Search bar for table -->
        <div class="search">
            <form>
                <div class="form-row pt-3">
                    <div class="form-group col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="search-handle">Search</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-handle" v-model="search" />
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="sort">Sort</label>
                            </div>
                            <select class="custom-select" v-model="sort">
                                <option selected value="" disabled>Choose...</option>
                                <option value="asc">Ascending</option>
                                <option value="desc">Descending</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Table to display list of properties, will add filters as well -->
        <div class="table">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Property</th>
                    <th scope="col">Energy Avg</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(property, index) in searchFilter" :key="'property'+index">
                        <td>{{property.address}}, {{property.city}} {{property.state}} {{property.zip}}</td>
                        <td>{{getEnergyAvg(property.energy)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="chart">
            <div id="chart"></div>
        </div>
    </div>
</div>